table {
  border: solid 1px #ccc;
}

table tr:nth-child(odd) {
  background: #fbf7ce;
}

table tr:nth-child(even) {
  background: #ecf5e2;
}

table td {
  padding: 15px 20px;
  border: solid 1px #ccc;
}

table td:first-child {
  padding: 15px 30px;
  white-space: nowrap;
  vertical-align: middle;
}

table td:first-child a {
  color: inherit;
}
