/*!
站点通用样式
==============================================
 */
/*@import url('include/reset.css?__inline');
@import url('include/base.css?__inline');
@import url('include/class.scss__inline');
@import url('include/font.css?__inline');
@import url('include/components.css?__inline');
@import url('include/icon.css?__inline');
@import url('include/layout.css?__inline');*/

@import "../base/include/import";
@import "include/layout";


#nav-tabs{
  font-size:1.2em;
  .is-active{
    color: #333333;
    font-weight: bolder;
    a{
      color:inherit;
    }
  }
}


body{
  padding:10px 15px 15px 15px;
  font-size:1.4em;
  line-height: 1.8;
  color: #202020;
  font: 18px/1.8 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  @media screen and (max-width: 800px) {
    font-size:22px;
  }
}



label.radio{
  font-size:1.2em;
  vertical-align: -0.5em;
}


.none{
  display: none!important;
}

.pre{
  white-space: pre;
}