/*!
站点通用样式
==============================================
 */
/*@import url('include/reset.css?__inline');
@import url('include/base.css?__inline');
@import url('include/class.scss__inline');
@import url('include/font.css?__inline');
@import url('include/components.css?__inline');
@import url('include/icon.css?__inline');
@import url('include/layout.css?__inline');*/

@import "../base/include/import";

body{
  padding:20px 15px 0 15px;
  font-size:1.4em;
  line-height: 1.8;
  font: 18px/1.6 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  @media screen and (max-width: 800px) {
  }
}

dl.table_1 {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #bdbdbe;
  margin: 20px 0;
  font-size: 1.2em;
  dt, dd {
    border: solid 1px #bdbdbe;
    border-top: none;
    padding: 10px;
  }

  dt {
    @extend .flex-mr;
    flex: 1 1 20%;
    white-space: nowrap;
    font-weight: bold !important;
    * {
      font-weight: bold;
    }
  }

  dd {
    flex: 1 1 80%;
    border-left: none;
    li{
      padding:2px 0;
    }
  }
}


.none{
  display: none!important;
}