.table_1 .table_1 {
  margin: 0;
  border-top: none;
}

.table_1 .table_1 > dt, .table_1 .table_1 > dd {
  border-left: none;
}

.table_1.a > dt {
  color: #fff;
  background: #446ca1;
}

.table_1.a > dd {
  padding: 0;
  border: none;
}
