@import "../../../css/basic/0.7/basic.base";

.table_1 .table_1{
  margin: 0;
  border-top:none;
  > dt, > dd{
      border-left:none;
  }
}

.table_1.a{
  > dt{
    color:#fff;
    background: #446ca1;
    padding-right:1em;
    word-break: break-all;
    word-wrap:break-word;
    overflow: hidden;
  }
  > dd{
    padding:0;
    border:none;
  }
}