@charset "UTF-8";
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none, .btn, .a-btn, .a-btn-large, .a-btn-right, .btn-a {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.__flex, .flex-middle, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div, .flex-mr, .ad, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .btn-group, .a-form-item, .a-form-item-1, .a-form-list > div, .dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group, .view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer, .list-a.list-handle > li > .handle, .list-select-a > li, .list-select-a > .select-list-item, .flex-center, .flex-justify, .flex-right, .flex-end, .dialog-1 .dialog-wrap .dialog-con-wrap, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-middle, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div, .flex-mr, .ad, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .btn-group, .a-form-item, .a-form-item-1, .a-form-list > div, .dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group, .view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer, .list-a.list-handle > li > .handle, .list-select-a > li, .list-select-a > .select-list-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__ {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-right, .flex-mr {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*
字体样式定义
=========================================================
 */
/*
定义字体颜色
字体颜色   r: red; b: blue; y: yellow; g: green; w: white; k: black & gray;
fc -> color
w - > 颜色前缀
1 - > 同颜色区分，值越大，颜色越深
*/
.fc-w {
  color: #FFFFFF;
}

.fc-r1 {
  color: #fc6e51;
}

.fc-b1 {
  color: #549efd;
}

/* b 蓝色 */
.fc-b4 {
  color: #0daed4;
}

/* y 黄色 */
.fc-y4 {
  color: #f6ad01;
}

.fc-y5 {
  color: #f6ad00;
}

/* k 各种灰色 数字越大，颜色越深 */
/*
定义字体大小,相对于父元素
fz -> font-size
x - > 区分 em rem
8 -> 8/10 em
*/
.fz-x6 {
  font-size: 0.6em;
}

.fz-x8 {
  font-size: 0.8em;
}

.fz-x12 {
  font-size: 1.2em;
}

.fz-x14 {
  font-size: 1.4em;
}

.fz-sm {
  font-size: 0.8em;
}

html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

i, b {
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
  line-height: 1.6;
  font-size: 12px;
}

body {
  font-family: "Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
  font-family: 'Helvetica Neue',Helvetica,Arial,"Microsoft Yahei",FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
}

/*input{
    -webkit-appearance: none; */
/*去除浏览器默认样式*/
/*
}*/
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
常用属性简写定义
=========================================================
 */
/*
常用属性简写定义规则：
使用属性值做为类名
*/
.relative {
  position: relative;
}

.right {
  float: right;
}

.none {
  display: none;
}

/*
组件样式定义
=========================================================
 */
/*    scss变量定义
==========================================================*/
/*
颜色
*/
/*
字体大小
*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.prev-btn, .view-back-btn:after, .next-btn, .view-link:after {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.view-header .nav-menu-btn, .view > header .nav-menu-btn, .ic-view > header .nav-menu-btn, [ic-view] > header .nav-menu-btn, .view-header .service-phone-btn, .view > header .service-phone-btn, .ic-view > header .service-phone-btn, [ic-view] > header .service-phone-btn, .view-header .search-btn, .view > header .search-btn, .ic-view > header .search-btn, [ic-view] > header .search-btn, .view-header .share-btn, .view > header .share-btn, .ic-view > header .share-btn, [ic-view] > header .share-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

/*
字体样式定义
=========================================================
 */
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none, .btn, .a-btn, .a-btn-large, .a-btn-right, .btn-a {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.__flex, .flex-middle, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div, .flex-mr, .ad, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .btn-group, .a-form-item, .a-form-item-1, .a-form-list > div, .dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group, .view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer, .list-a.list-handle > li > .handle, .list-select-a > li, .list-select-a > .select-list-item, .flex-center, .flex-justify, .flex-right, .flex-end, .dialog-1 .dialog-wrap .dialog-con-wrap, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-middle, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div, .flex-mr, .ad, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .btn-group, .a-form-item, .a-form-item-1, .a-form-list > div, .dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group, .view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer, .list-a.list-handle > li > .handle, .list-select-a > li, .list-select-a > .select-list-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__ {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-right, .flex-mr {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*    scss变量定义
==========================================================*/
/*
颜色
*/
/*
字体大小
*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.prev-btn, .view-back-btn:after, .next-btn, .view-link:after {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.view-header .nav-menu-btn, .view > header .nav-menu-btn, .ic-view > header .nav-menu-btn, [ic-view] > header .nav-menu-btn, .view-header .service-phone-btn, .view > header .service-phone-btn, .ic-view > header .service-phone-btn, [ic-view] > header .service-phone-btn, .view-header .search-btn, .view > header .search-btn, .ic-view > header .search-btn, [ic-view] > header .search-btn, .view-header .share-btn, .view > header .share-btn, .ic-view > header .share-btn, [ic-view] > header .share-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

/*
定义字体颜色
字体颜色   r: red; b: blue; y: yellow; g: green; w: white; k: black & gray;
fc -> color
w - > 颜色前缀
1 - > 同颜色区分，值越大，颜色越深
*/
.fc-w {
  color: #FFFFFF;
}

.fc-r1 {
  color: #fc6e51;
}

.fc-b1 {
  color: #549efd;
}

/* b 蓝色 */
.fc-b4 {
  color: #0daed4;
}

/* y 黄色 */
.fc-y4 {
  color: #f6ad01;
}

.fc-y5 {
  color: #f6ad00;
}

/* k 各种灰色 数字越大，颜色越深 */
.fc-k6 {
  color: #818181;
}

/*
定义字体大小,相对于父元素
fz -> font-size
x - > 区分 em rem
8 -> 8/10 em
*/
.fz-x6 {
  font-size: 0.6em;
}

.fz-x8 {
  font-size: 0.8em;
}

.fz-x12 {
  font-size: 1.2em;
}

.fz-x14 {
  font-size: 1.4em;
}

.fz-small {
  font-size: 0.8em;
}

html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

i, b {
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
  line-height: 1.6;
  font-size: 12px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

body {
  font-family: "Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
}

input[type=text], input[type=search], input[type=number], input[type=date], button, textarea {
  -webkit-appearance: none;
  /*去除浏览器默认样式*/
}

label [type=radio], label [type=checkbox] {
  display: none;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
}

* {
  box-sizing: border-box;
}

/**:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-modify:read-write-plaintext-only;
}*/
/*
常用属性简写定义
=========================================================
 */
/*
常用属性简写定义规则：
d 属性名display首字母
-
f  属性值flex首字母
example：d-f{display:flex}
*/
/*
*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/*
*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/**/
.line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.children-pointer-none > * {
  pointer-events: none;
}

/*
组件样式定义
=========================================================
 */
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none, .btn, .a-btn, .a-btn-large, .a-btn-right, .btn-a {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.__flex, .flex-middle, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div, .flex-mr, .ad, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .btn-group, .a-form-item, .a-form-item-1, .a-form-list > div, .dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group, .view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer, .list-a.list-handle > li > .handle, .list-select-a > li, .list-select-a > .select-list-item, .flex-center, .flex-justify, .flex-right, .flex-end, .dialog-1 .dialog-wrap .dialog-con-wrap, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-middle, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div, .flex-mr, .ad, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .btn-group, .a-form-item, .a-form-item-1, .a-form-list > div, .dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group, .view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer, .list-a.list-handle > li > .handle, .list-select-a > li, .list-select-a > .select-list-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center, .flex-mc, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt .prompt-wrap, #loading__ {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify, .flex-mj, .ae, .a-dl-1 dd > div, .a-ul-1 > li > div {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-right, .flex-mr {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*    scss变量定义
==========================================================*/
/*
颜色
*/
/*
字体大小
*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.prev-btn, .view-back-btn:after, .next-btn, .view-link:after {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.view-header .nav-menu-btn, .view > header .nav-menu-btn, .ic-view > header .nav-menu-btn, [ic-view] > header .nav-menu-btn, .view-header .service-phone-btn, .view > header .service-phone-btn, .ic-view > header .service-phone-btn, [ic-view] > header .service-phone-btn, .view-header .search-btn, .view > header .search-btn, .ic-view > header .search-btn, [ic-view] > header .search-btn, .view-header .share-btn, .view > header .share-btn, .ic-view > header .share-btn, [ic-view] > header .share-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.loading {
  background: url(loading.svg) no-repeat 50% 50%;
}

/*
组件辅助类
*/
.fullScreen, .dialog, .dialog-1, .dialog .dialog-wrap, .dialog-1 .dialog-wrap, .prompt, .prompt .prompt-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-padding {
  padding: 10px;
}

.ab, .ae, .a-dl dd > div, .a-dl-1 dd > div, .a-ul > li, .a-ul-1 > li, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .a-form-item, .a-form-item-1, .a-form-list > div, .ac, .ad, .a-dl dt, .a-dl-1 dt, .calendar caption {
  font-size: 1.45455rem;
  color: #333333;
  background: #fff;
  padding: 10px;
  padding-right: 5px;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}

.ab, .ae, .a-dl dd > div, .a-dl-1 dd > div, .a-ul > li, .a-ul-1 > li, .a-select-list > li, .a-select-list > .a-select-list-item, .ab-select-list > .a-select-list-item > div, .a-form-item, .a-form-item-1, .a-form-list > div {
  font-size: 1.27273rem;
  color: #666666;
  border-top-color: transparent;
}

.ac, .ad, .a-dl dt, .a-dl-1 dt {
  margin-top: 10px;
}

.a-dl, .a-dl-1 {
  margin-top: 10px;
}

.a-dl:nth-child(1), .a-dl-1:nth-child(1) {
  margin-top: 0;
}

.a-dl dt:nth-child(1), .a-dl-1 dt:nth-child(1) {
  margin-top: 0;
  border-top: none;
}

.a-select-list > li {
  /*-webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;*/
}

.ab-select-list {
  margin-right: -10px;
  overflow-x: hidden;
  background: #fff;
  border-bottom: solid 1px #dedede;
}

.ab-select-list:after {
  content: '';
  display: table;
  clear: both;
}

.ab-select-list > .a-select-list-item {
  display: inline-block;
  width: 50%;
  float: left;
}

/*
按钮
---------------------------------------------------------
*/
.prev-btn, .view-back-btn:after {
  border-left: 2px solid #C1C1C2;
  border-bottom: 2px solid  #C1C1C2;
}

.next-btn, .view-link:after {
  border-right: 2px solid  #C1C1C2;
  border-top: 2px solid  #C1C1C2;
}

.view-back-btn {
  padding: 4px 15px 4px 15px;
}

.view-back-btn:after {
  content: '';
  border-color: #fff;
}

.view-link:after {
  content: '';
  float: right;
  margin-top: 3px;
}

/*
*/
.btn.disabled, .disabled.a-btn, .disabled.a-btn-large, .disabled.a-btn-right, .disabled.btn-a {
  background: #eeeeee !important;
  border-color: #eeeeee !important;
}

.btn, .a-btn, .a-btn-large, .a-btn-right, .btn-a {
  font-size: 1.36364rem;
  border: none;
  display: inline-block;
  color: #fff;
  background: #ff9900;
  text-align: center;
}

.a-btn, .a-btn-large, .a-btn-right, .btn-a {
  border: solid 1px #ff9900;
  border-radius: 4px;
}

.a-btn-large {
  font-size: 1.45455rem;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.a-btn-right {
  font-size: inherit;
  padding: 14px 13px;
  border-radius: 0;
  min-height: 100%;
  position: absolute;
  top: -1px;
  right: 0;
  bottom: -1px;
}

/*
*/
.btn-group:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.btn-group > * {
  background: #fff;
  text-align: center;
  min-width: 2em;
  margin-left: -2px;
  padding: 6px 4px;
  border: solid 1px #2aa3ce;
  border-right: none;
  border-radius: 0;
}

.btn-group > *.disabled {
  opacity: 0.5;
}

.btn-group > * > * {
  border: none;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.btn-group input {
  width: 1.4em;
}

.btn-group > :first-child, .btn-group > :last-child {
  padding-left: 1.3em;
  padding-right: 1.3em;
  color: #2aa3ce;
  font-weight: bolder;
}

.btn-group > :first-child {
  border-radius: 4px 0 0 4px;
}

.btn-group > :last-child {
  margin-left: -1px;
  border-right: solid 1px #2aa3ce;
  border-radius: 0 4px 4px 0;
}

/*
icon
*/
.icon-lessen, .icon-add, .icon-checkbox, .icon-checked, .checked .icon-checkbox, .selected .icon-checkbox, [type=radio]:checked + .icon-checkbox, [type=checkbox]:checked + .icon-checkbox, .checkbox[type=radio] + label:before, .checkbox[type=checkbox] + label:before {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: solid 2px #2aa3ce;
  background: #2aa3ce;
  vertical-align: middle;
  text-align: center;
}

.icon-lessen {
  position: relative;
}

.icon-lessen:before {
  content: '';
  position: absolute;
  width: 70%;
  left: 15%;
  top: 46%;
  border-bottom: solid 2px #fff;
}

.icon-add {
  position: relative;
}

.icon-add:before, .icon-add:after {
  content: '';
  position: absolute;
  width: 70%;
  left: 15%;
  top: 46%;
  border-bottom: solid 2px #fff;
}

.icon-add:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-checkbox, .icon-checked, .checked .icon-checkbox, .selected .icon-checkbox, [type=radio]:checked + .icon-checkbox, [type=checkbox]:checked + .icon-checkbox, .checkbox[type=radio] + label:before, .checkbox[type=checkbox] + label:before {
  background: #fff;
}

.icon-checked, .checked .icon-checkbox, .checked .icon-checked, .checked .checkbox[type=radio] + label:before, .checked .checkbox[type=checkbox] + label:before, .selected .icon-checkbox, .selected .icon-checked, .selected .checkbox[type=radio] + label:before, .selected .checkbox[type=checkbox] + label:before, [type=radio]:checked + .icon-checkbox, [type=radio]:checked + .icon-checked, .checkbox[type=radio]:checked + label:before, [type=checkbox]:checked + .icon-checkbox, [type=checkbox]:checked + .icon-checked, .checkbox[type=checkbox]:checked + label:before {
  background: #2aa3ce;
}

.icon-checked:after, .checked .icon-checkbox:after, .checked .icon-checked:after, .selected .icon-checkbox:after, .selected .icon-checked:after, [type=radio]:checked + .icon-checkbox:after, [type=radio]:checked + .icon-checked:after, [type=checkbox]:checked + .icon-checkbox:after, [type=checkbox]:checked + .icon-checked:after {
  content: '';
  display: inline-block;
  font-size: 1.27273rem;
  width: 60%;
  height: 22%;
  margin-left: 10%;
  margin-top: -18%;
  vertical-align: middle;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*

*/
.checkbox[type=radio], .checkbox[type=checkbox] {
  display: none;
}

.checkbox[type=radio] + label, .checkbox[type=checkbox] + label {
  position: relative;
  display: inline-block;
}

.checkbox[type=radio] + label:before, .checkbox[type=checkbox] + label:before {
  content: ' ';
}

.checkbox[type=radio]:checked + label:after, .checkbox[type=checkbox]:checked + label:after {
  content: ' ';
  font-size: 1.27273rem;
  position: absolute;
  top: 8px;
  left: 6px;
  display: inline-block;
  width: 18px;
  height: 7px;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*
icon-img
*/
/*
表单相关
*/
.a-form-item label, .a-form-item-1 label, .a-form-list > div label {
  display: inline-block;
  min-width: 4em;
}

.a-form-item label + input, .a-form-item-1 label + input, .a-form-list > div label + input, .a-form-item label + select, .a-form-item-1 label + select, .a-form-list > div label + select, .a-form-item label + textarea, .a-form-item-1 label + textarea, .a-form-list > div label + textarea, .a-form-item textarea:nth-child(1), .a-form-item-1 textarea:nth-child(1), .a-form-list > div textarea:nth-child(1) {
  background: #fff;
  border: none;
  padding: 6px 10px;
  -webkit-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}

.a-form-item-1 {
  padding: 0;
}

.a-form-item-1 > * {
  padding-top: 13px;
  padding-bottom: 13px;
}

.a-form-item-1 > *:first-child {
  padding-left: 10px;
}

.a-form-item-1 > *:last-child {
  padding: 10px;
}

/*
calendar
*/
.calendar {
  table-layout: fixed;
  width: 100%;
  background: #fff;
}

.calendar caption, .calendar th, .calendar td {
  text-align: center;
}

.calendar caption {
  padding: 5px;
  border-top: none;
}

.calendar caption .ym {
  margin: 0 25px;
}

.calendar caption [ic-date-prev-m], .calendar caption [ic-date-next-m] {
  display: inline-block;
  padding: 10px;
}

.calendar caption [ic-date-prev-m] .disabled, .calendar caption [ic-date-next-m] .disabled {
  opacity: 0.4;
}

.calendar thead th {
  padding: 14px 0;
  background: #eeeeee;
}

.calendar tbody td {
  vertical-align: top;
  border: solid 1px #d3d2d6;
  font-size: 14px;
  color: #555555;
}

.calendar tbody td > div {
  min-height: 24px;
  padding: 4px 0 0 0;
}

.calendar tbody td > div.price {
  color: #ff9900;
  font-size: 0.8em;
}

.calendar tbody td > div.count {
  color: #2aa3ce;
}

.calendar tbody td.selected {
  background: #f6ad00;
}

.calendar tbody td.selected * {
  color: #fff !important;
}

.calendar tbody td.disabled .day {
  color: #cccccc;
}

.calendar tbody td.enabled .day {
  color: #555555;
}

.calendar tbody td.enabled .price {
  color: #ff9900;
}

/*
dialog
*/
.dialog, .dialog-1 {
  position: fixed !important;
  background: rgba(0, 0, 0, 0.2);
}

.dialog .dialog-wrap, .dialog-1 .dialog-wrap {
  font-size: 1.36364rem;
  position: absolute;
}

.dialog .dialog-wrap .dialog-con-wrap, .dialog-1 .dialog-wrap .dialog-con-wrap {
  width: 84%;
  background: #fff;
  border-radius: 6px;
  text-align: center;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-con, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-con {
  border-radius: 6px 6px 0 0;
  background: #fff;
  padding: 15px 15px;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-con .dialog-title, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-con .dialog-title {
  color: #333333;
  font-weight: bold;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-con .dialog-desc, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-con .dialog-desc {
  color: #333;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group {
  border-top: solid 1px #b2b2b2;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group > *, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group > * {
  -webkit-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  flex: auto;
  display: block;
  color: #2aa3ce;
  background: #fff;
  height: 100%;
  padding: 15px 0;
  overflow: hidden;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group > *:first-child, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group > *:first-child {
  border-radius: 0 0 0 6px;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group > *:nth-child(n+1), .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group > *:nth-child(n+1) {
  border: none;
  background: #fff;
  padding: 15px 0;
  border-right: solid 1px #b2b2b2;
}

.dialog .dialog-wrap .dialog-con-wrap .dialog-btn-group > *:last-child, .dialog-1 .dialog-wrap .dialog-con-wrap .dialog-btn-group > *:last-child {
  border-radius: 0 0 6px 0;
  border-right: none;
}

.dialog-1 .dialog-wrap .dialog-con-wrap {
  height: 70%;
  max-height: 80%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.dialog-1 .dialog-wrap .dialog-con-wrap .dialog-con {
  font-size: 1.09091rem;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  flex: 1 1;
}

.prompt {
  position: fixed !important;
  pointer-events: none;
}

.prompt .prompt-wrap {
  position: absolute;
}

.prompt .prompt-wrap .prompt-con {
  width: 60%;
  padding: 25px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  position: relative;
}

.prompt .prompt-wrap .prompt-con .prompt-close-btn {
  pointer-events: all;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0 0 15px 15px;
  background: transparent;
  border: none;
  color: inherit;
}

/* loading start */
#loading__ {
  pointer-events: none;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

#loading__ > div {
  display: inline-block;
  padding: 8px 15px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  text-align: center;
}

#loading__ > div > [role=figure] {
  display: inline-block;
  margin: 5px 60px;
  width: 36px;
  height: 36px;
  -webkit-animation: spin 1000ms infinite ease;
  animation: spin 1000ms infinite ease;
  background: url(../../../img/css_loading.png) no-repeat 50% 50%;
  background-size: contain;
}

#loading__ > div > [role=tip] {
  color: #fff;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* loading end */
/*
视图
---------------------------------------------------------
*/
.view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header {
  position: relative;
}

.view-header > *, .view > header > *, .view > .view-header > *, .ic-view > header > *, .ic-view > .view-header > *, [ic-view] > header > *, [ic-view] > .view-header > * {
  position: absolute;
}

.view-header .view-back-btn, .view > header .view-back-btn, .ic-view > header .view-back-btn, [ic-view] > header .view-back-btn {
  top: 0;
  left: 0;
  margin-top: 7px;
}

.view-header .nav-menu-btn, .view > header .nav-menu-btn, .ic-view > header .nav-menu-btn, [ic-view] > header .nav-menu-btn, .view-header .service-phone-btn, .view > header .service-phone-btn, .ic-view > header .service-phone-btn, [ic-view] > header .service-phone-btn, .view-header .search-btn, .view > header .search-btn, .ic-view > header .search-btn, [ic-view] > header .search-btn, .view-header .share-btn, .view > header .share-btn, .ic-view > header .share-btn, [ic-view] > header .share-btn {
  top: 6px;
  width: 32px;
  height: 32px;
  background-size: 70%;
}

.view-header .nav-menu-btn, .view > header .nav-menu-btn, .ic-view > header .nav-menu-btn, [ic-view] > header .nav-menu-btn {
  right: 2px;
  background-image: url(../../../../img/nav-menu-btn-css.png);
}

.view-header .service-phone-btn, .view > header .service-phone-btn, .ic-view > header .service-phone-btn, [ic-view] > header .service-phone-btn {
  right: 32px;
  background-image: url(../../../../img/phone-btn-css.png);
}

.view-header .search-btn, .view > header .search-btn, .ic-view > header .search-btn, [ic-view] > header .search-btn {
  top: 5px;
  right: 72px;
  background-image: url(../../../../img/search-btn-css.png);
  background-size: 74%;
}

.view-header .share-btn, .view > header .share-btn, .ic-view > header .share-btn, [ic-view] > header .share-btn {
  top: 5px;
  right: 34px;
  background-image: url(../../../../img/share-btn-css.png);
  background-size: 74%;
}

.view-header, .view > header, .view > .view-header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > .view-header, .view-footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > .view-footer {
  font-size: 1.45455rem;
  height: 44px;
  color: #fff;
  background: #2aa3ce;
}

.view-header > .title, .view > header > .title, .view > .view-header > .title, .ic-view > header > .title, .ic-view > .view-header > .title, [ic-view] > header > .title, [ic-view] > .view-header > .title, .view-footer > .title, .view > footer > .title, .view > .view-footer > .title, .ic-view > footer > .title, .ic-view > .view-footer > .title, [ic-view] > footer > .title, [ic-view] > .view-footer > .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: block;
  padding: 0 110px;
  position: static;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.view-header a, .view > header a, .view > .view-header a, .ic-view > header a, .ic-view > .view-header a, [ic-view] > header a, [ic-view] > .view-header a, .view-footer a, .view > footer a, .view > .view-footer a, .ic-view > footer a, .ic-view > .view-footer a, [ic-view] > footer a, [ic-view] > .view-footer a {
  color: inherit;
}

.view-footer.a, .view > footer.a, .ic-view > footer.a, [ic-view] > footer.a {
  background: #f7ad00;
}

.view, .ic-view, [ic-view] {
  background: #f4f4f4;
  width: 100%;
  height: 100%;
}

.view.active, .ic-view.active, [ic-view].active {
  visibility: visible;
  z-index: 100;
}

.view > header, .view > header, .view > .view-header, .view > footer, .view > footer, .view > .view-footer, .ic-view > header, .ic-view > header, .ic-view > .view-header, .ic-view > footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > header, [ic-view] > header, [ic-view] > .view-header, [ic-view] > footer, [ic-view] > footer, [ic-view] > .view-footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.view > header, .view > header, .view > .view-header, .ic-view > header, .ic-view > header, .ic-view > .view-header, [ic-view] > header, [ic-view] > header, [ic-view] > .view-header {
  top: 0;
}

.view .view-sub-header, .ic-view .view-sub-header, [ic-view] .view-sub-header {
  position: fixed;
  height: 50px;
  top: 44px;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
}

.view .view-sub-header + .view-main, .ic-view .view-sub-header + .view-main, [ic-view] .view-sub-header + .view-main {
  padding-top: 94px;
}

.view > .main, .view > .view-main, .ic-view > .main, .ic-view > .view-main, [ic-view] > .main, [ic-view] > .view-main {
  height: 100%;
  position: relative;
  padding-bottom: 44px;
  overflow-x: hidden;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

.view > header + .main, .view > header + .view-main, .view > header + .main, .view > .view-header + .main, .ic-view.view > header + .main, [ic-view].view > header + .main, .view > header + .view-main, .view > .view-header + .view-main, .ic-view.view > header + .view-main, [ic-view].view > header + .view-main, .ic-view > header + .main, .ic-view > header + .view-main, .view.ic-view > header + .main, .ic-view > header + .main, .ic-view > .view-header + .main, [ic-view].ic-view > header + .main, .view.ic-view > header + .view-main, .ic-view > header + .view-main, .ic-view > .view-header + .view-main, [ic-view].ic-view > header + .view-main, [ic-view] > header + .main, [ic-view] > header + .view-main, .view[ic-view] > header + .main, .ic-view[ic-view] > header + .main, [ic-view] > header + .main, [ic-view] > .view-header + .main, .view[ic-view] > header + .view-main, .ic-view[ic-view] > header + .view-main, [ic-view] > header + .view-main, [ic-view] > .view-header + .view-main {
  padding-top: 44px;
}

.view > footer, .view > footer, .view > .view-footer, .ic-view > footer, .ic-view > footer, .ic-view > .view-footer, [ic-view] > footer, [ic-view] > footer, [ic-view] > .view-footer {
  top: 100%;
  margin-top: -44px;
}

.view > footer.a, .view > footer.a, .view > .a.view-footer, .ic-view > footer.a, .ic-view > footer.a, .ic-view > .a.view-footer, [ic-view] > footer.a, [ic-view] > footer.a, [ic-view] > .a.view-footer {
  background: #f7ad00;
}

.h5 .view-header .share-btn, .h5 .view > header .share-btn, .h5 .ic-view > header .share-btn, .h5 [ic-view] > header .share-btn {
  display: none;
}

.list-a {
  background: #fff;
}

.list-a > li {
  border-bottom: solid 1px #cecece;
}

.list-a > li.msg {
  padding: 15px;
  text-align: center;
}

.list-a > li.msg > a {
  display: block;
  border: none;
}

.list-a > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  color: #333;
}

.list-a > li > a > div:nth-child(1) {
  padding-right: 10px;
}

.list-a > li > a > div:nth-child(1) img {
  width: 90px;
  max-height: 90px;
}

.list-a > li > a > div:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.list-a > li > a > div:nth-child(2) > .title {
  font-size: 1.27273rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.list-a > li > a > div:nth-child(2) .tags {
  min-height: 1.2em;
  margin: 5px 0;
  color: #2AA3CE;
}

.list-a > li > a > div:nth-child(2) .tags .tag {
  display: inline-block;
  margin: 3px 1px;
  padding: 1px 3px;
  border: solid #2AA3CE 1px;
  border-radius: 0.2em;
  font-size: 0.8em;
}

.list-a > li > a > div:nth-child(2) .price {
  margin: 5px 0 0 0;
  font-family: STHeiti,Helvetica Neue,Heiti SC,"Microsoft YaHei","微软雅黑",Arial,Helvetica,sans-serif;
  font-size: 0.8em;
}

.list-a > li > a > div:nth-child(2) .price > span > span {
  font-size: 1.45455rem;
  color: #fc6e51;
}

.list-a > li > a > div:nth-child(2) .price del {
  color: #9F9F9F !important;
  font-size: 1.4em;
}

.list-a.list-handle > li {
  position: relative;
}

.list-a.list-handle > li > a {
  position: relative;
  z-index: 2;
  background: #fff;
  transition: left 0.3s ease-in-out;
}

.list-a.list-handle > li > a .price * {
  color: #f6ad00 !important;
}

.list-a.list-handle > li > a .title + .price {
  padding-top: 1.6em;
}

.list-a.list-handle > li > .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ECEBEB;
  z-index: 0;
}

.list-select-a > li, .list-select-a > .select-list-item {
  padding: 10px;
  border-bottom: solid 1px #cfcfcf;
}

.list-select-a > li > *:first-child, .list-select-a > .select-list-item > *:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.list-select-a > li > *:nth-child(2), .list-select-a > .select-list-item > *:nth-child(2) {
  -webkit-box-flex: 0 0 50px;
  -webkit-flex: 0 0 50px;
  flex: 0 0 50px;
  text-align: right;
}
