@import "../../../css/base/include/import";

body{
  padding: 20px;
  font-size:1.4em;
  line-height: 1.8;
}

h2{
  font-size:1.6em;
}

section {
  padding: 20px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #bdbdbe;
}

dt, dd {
  flex: 1 1 15%;
  border: solid 1px #bdbdbe;
  border-top: none;
  padding:10px;
}

dt{
  @extend .flex-middle;
}

dd {
  flex: 1 1 85%;
  border-left: none;
}

.focus{
  background-color: #2c45d7;
  color:#fff;
}

/*
dl dl{
  border:none;
}

dl dl dt, dl dl dd{
  border:none;
  border-bottom: solid 1px #bdbdbe;
}

dl dl dt{
  border-right: solid 1px #bdbdbe;
}*/
