@charset "UTF-8";
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.__flex, .flex-middle, .flex-mc, .flex-mj, .flex-mr, .flex-center, .flex-justify, .flex-right, .flex-end, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-middle, .flex-mc, .flex-mj, .flex-mr {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center, .flex-mc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify, .flex-mj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-right, .flex-mr {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*    scss变量定义
==========================================================*/
/*
颜色
*/
/*
字体大小
*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Verdana", "Arial", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Heiti SC", STHeiti, "Microsoft Yahei", SimSun, sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #333;
}

a {
  color: inherit;
}

p, blockquote {
  margin: 0;
}

h2, h3, h4, dt, .key {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

dt {
  margin: 5px 0 0 0;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 1em;
}

dd {
  padding: 5px 1em;
  font-size: 0.95em;
  color: #444;
}

dd:empty {
  display: none;
}

@-webkit-keyframes twinkling {
  /*透明度由0到1*/
  0% {
    opacity: 0;
    /*透明度为0*/
  }
  50% {
    opacity: 0.5;
    /*透明度为0*/
  }
  100% {
    opacity: 1;
    /*透明度为1*/
  }
}

.twinkling {
  -webkit-animation: twinkling 1.5s infinite ease-in-out;
}

.focus {
  background: #1865bb;
  color: #fff;
}

.small {
  font-size: 0.8em;
  font-weight: 400;
}

h2 .small {
  vertical-align: 10%;
  margin: 0 7px;
}

body > aside {
  position: fixed;
  width: 12%;
  top: 0;
  bottom: 0;
  z-index: 10000000;
  background: rgba(0, 0, 0, 0.2);
}

body > aside ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

body > aside ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 15px 0;
  text-align: center;
}

body > aside ul li.active {
  background: #fff;
  font-weight: 800;
  font-size: 1.5em;
}

[aic-view-stage] {
  height: 100%;
  overflow-y: scroll;
}

[aic-view] {
  box-sizing: border-box;
  min-height: 100%;
  padding: 10px 25px 10px 205px;
}

[aic-view] > header {
  padding: 10px 0;
  margin: 0 0 15px 0;
  border-bottom: solid 1px #e2e2e2;
}

[aic-view] > section ol, [aic-view] > section ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

[aic-view] > section ol {
  list-style: decimal;
}
