body{
    margin:0;
}

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {
    flex: 1 1 42%;
    border: solid 1px #bdbdbe;
    margin: 8px;
    padding: 5px 10px 10px;
    list-style: none;
}