@charset "UTF-8";
/*!
站点通用样式
==============================================
 */
/*@import url('include/reset.css?__inline');
@import url('include/base.css?__inline');
@import url('include/class.scss__inline');
@import url('include/font.css?__inline');
@import url('include/components.css?__inline');
@import url('include/icon.css?__inline');
@import url('include/layout.css?__inline');*/
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.__flex, .flex-middle, .flex-mc, .table_1 dt, .table_2 dt, .flex-mj, .flex-mr, .flex-center, .flex-justify, .flex-right, .table_0 > * > *:first-child, .flex-end, .flex-start, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-middle, .flex-mc, .table_1 dt, .table_2 dt, .flex-mj, .flex-mr {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center, .flex-mc, .table_1 dt, .table_2 dt {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify, .flex-mj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-right, .flex-mr, .table_2 dt, .table_0 > * > *:first-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-start, .table_2 dt {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/*    scss变量定义
==========================================================*/
/*
颜色
*/
/*
字体大小
*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.__flex, .flex-middle, .flex-mc, .table_1 dt, .table_2 dt, .flex-mj, .flex-mr, .flex-center, .flex-justify, .flex-right, .table_0 > * > *:first-child, .flex-end, .flex-start, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-middle, .flex-mc, .table_1 dt, .table_2 dt, .flex-mj, .flex-mr {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center, .flex-mc, .table_1 dt, .table_2 dt {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify, .flex-mj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-right, .flex-mr, .table_2 dt, .table_0 > * > *:first-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-start, .table_2 dt {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.tr, .table_0 > * {
  display: flex;
  flex-wrap: wrap;
}

.table_0 > * > * {
  padding: 15px 10px;
}

.table_0 > * > *:first-child {
  flex: 1 1 20%;
}

.table_0 > * > *:last-child {
  flex: 1 1 80%;
}

.table_1, .table_2 {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #bdbdbe;
  margin: 20px 0;
}

.table_1 dt, .table_2 dt, .table_1 dd, .table_2 dd {
  border: solid 1px #bdbdbe;
  border-top: none;
}

.table_1 dt, .table_2 dt {
  flex: 1 1 20%;
  padding: 10px 2px;
  white-space: nowrap;
  font-weight: bold !important;
}

.table_1 dt *, .table_2 dt * {
  font-weight: bold;
}

.table_1 dd, .table_2 dd {
  flex: 1 1 80%;
  padding: 10px;
  border-left: none;
}

.table_1 dd li, .table_2 dd li {
  padding: 2px 0;
}

.table_2, .table_2 dt, .table_2 dd {
  border: none;
}

.table_2 dt, .table_2 dd {
  padding-bottom: 20px;
}

dl.table_1.no-border, dl.no-border.table_2, dl.table_1.no-border dt, dl.no-border.table_2 dt, dl.table_1.no-border dd, dl.no-border.table_2 dd {
  border: none;
}

#nav-tabs {
  font-size: 1.2em;
}

#nav-tabs .is-active {
  color: #333333;
  font-weight: bolder;
}

#nav-tabs .is-active a {
  color: inherit;
}

body {
  padding: 10px 15px 15px 15px;
  font-size: 1.4em;
  line-height: 1.8;
  color: #202020;
  font: 18px/1.8 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 22px;
  }
}

label.radio {
  font-size: 1.2em;
  vertical-align: -0.5em;
}

.none {
  display: none !important;
}

.pre {
  white-space: pre-wrap;
}

.tar {
  text-align: right;
}
